.logo {
    display: inline-flex;
    column-gap: .35rem;
    height: 48px;
    line-height: 1;
    margin-bottom: 0;
    color: inherit;
}
.logo__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo__abbr {
    font-size: var(--h2-font-size);
    line-height: 1;
}

.logo__definition {
    font-size: var(--smaller-font-size);
    line-height: 1;
    font-weight: normal;
    white-space: nowrap;
}