.welcome-user {
    padding: 0 .75rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid var(--very-soft-grey);
    cursor: pointer;
}

.welcome-user:hover {
    background-color: var(--primary-color-alt);
}

.welcome-user__user-image-container {
    margin-right: .5rem;
}

.welcome-user .fa-user-circle {
    font-size: var(--h3-font-size);
}

.welcome-user__abbr-name {
    line-height: 1;
}