@import-normalize;

:root {
    /* COLORS */
    --primary-color: hsl(222, 75%, 35%);
    --primary-color-alt: hsl(222, 75%, 25%);
    --text-color: hsl(206, 4%, 34%);
    --dark-color: hsl(207, 10%, 17%);
    --normal-grey: hsl(180, 2%, 68%);
    --soft-grey: hsl(180, 2%, 78%);
    --very-soft-grey: hsl(180, 2%, 88%);
    --body-bg-color: hsl(204, 100%, 99%);
    --white-color: #fff;
    /* FONTS */
    --title-font: 'Lato', 'sans-serif';
    --body-font: 'Open Sans', 'sans-serif';
    /*FONT WEIGHT
    title-font: 300,400,700
    body-font: 300,400,600,700
    */

    /* FONT SIZE */
    font-size: 16px;
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --big-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    /* LAYERS */
    --z-back: -10;
    --z-normal: 1;
    --z-front: 10;
    --z-tooltip: 20;
    --z-overlay: 30;
    --z-modal: 40;
    --z-fixed: 50;
    --z-off-canvas: 100;
    /* SIZES */
    --max-size: 1200px;
    --border-radius-size: 4px;
    --header-height: 64px;
    --aside-width: 220px;
}

/* @media screen and (max-width: 1024px) {
    :root {
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --h4-font-size: 1rem;
        --big-font-size: 1rem;
        --normal-font-size: 0.875rem;
        --small-font-size: 0.75rem;
        --smaller-font-size: 0.6875rem;
    }
} */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var( --normal-font-size);
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    font-family: var(--title-font);
    color: var(--dark-color);
    margin: 0;
}

h1 {
    font-size: var(--h1-font-size);
    line-height: 56px;
    margin-bottom: 24px;
}

h2 {
    font-size: var(--h2-font-size);
    line-height: 40px;
    margin-bottom: 16px;
}

h3 {
    font-size: var(--h3-font-size);
    line-height: 32px;
    margin-bottom: 8px;
}

h4 {
    font-size: var(--h4-font-size);
    line-height: 24px;
    margin-bottom: 8px;
}